name: Generate Datas

on:
  schedule:
    - cron: "0 */12 * * *"   # roda a cada 12 horas
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Gera a animação do snake
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: Luigi-Alves
          svg_out_path: dist/github-contribution-grid-snake.svg

      # Publica no GitHub Pages
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

